
<div class="row text-center">
  <h2 class="heading bottom-50">Your Event.</h2>
  <h3>How many people are you expecting?</h3>
  <p>Base price includes 2 hours of open bar service with setup and bartenders.</p>

</div>
<%= render 'form', booking: @booking %>
