<div class="width-control">
  <h1>SPIRIT</h1>
  <div class="row text-center">
    <h2>Let's Plan Your Event.</h2>
    <h3>Price: $100.00</h3>

  </div>
  <%= render 'form', booking: @booking %>
  <%= link_to 'Back', bookings_path %>
</div>
