
<div class="row text-center">
  <h2>Let's Plan Your Event.</h2>
  <p>Base price includes 2 hours of open bar service with setup and bartenders.</p>
  <h3 class="subtotal">Subtotal: $100.00</h3>

</div>
<%= render 'form', booking: @booking %>
<%= link_to 'Back', bookings_path %>
