<div class="row bottom-50">
  <div class="col-md-12 hero-img">
  </div>
</div>
<div class="row text-center bottom-50">
  <div class="col-md-12">
    <h2 class="bottom-50">Build Your Bar</h2>
    <%= link_to 'Get Started', new_booking_path, :class => "primary-button" %>
  </div>
</div>
<div class="row bottom-50">
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper.</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper.</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper.</p>
  </div>
</div>
<div class="row bottom-50">
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est.</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper.</p>
  </div>

</div>
