<div class="row text-center">
  <h2>Build Your Bar</h2>
  <%= link_to 'new', new_booking_path %>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper.</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper.</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget dapibus mauris. Vestibulum magna velit, suscipit et ex sit amet, fringilla consequat est. Mauris sed feugiat quam, laoreet congue nunc. Vivamus convallis non dui non ullamcorper.</p>
  </div>
</div>
<%= link_to 'new', new_booking_path %>
